footer{
  margin: 10px 10px;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
}

.footer-content{
  background-image: url('../imgs/bg8.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 1%;
  border: 3px solid black;
  color: black;
  font-size: 16px;
  text-align: center;
}

.footer-content a{
  margin-left: 10px;
  color: black;
  transition: 0.2s;
}

.footer-content a i{
  margin-left: 5px;
}

.footer-content a:hover{
  transform: scale(1.025);
}

.footer-content a:hover i{
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}